<!-- Start 1-2-3 Go! Agenda -->
<section>
    <div class="document-source-area themeix-ptb">
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <div class="single-box">
                        <div class="box-inner">
                            <div class="icons" style="font-size: 50px; color:#f26c4f;"><i class="fa fa-film"></i></div>
                            <br />
                            <h2>Week 1</h2>
                            <p>Introduction</p>
                            <a href="/mathematics/2019/04/01/1-2-3-go-w1.html" class=" themeix-btn
                                danger-bg">Get Started</a>
                        </div>
                        <div class="box-flip">
                            <div class="flip-box-innner">
                                <h2>Introduction</h2>
                                <p>
                                    An introduction to the power of numbers and mathematics by watching or
                                    reading about number and discussing it with your Nova Councelor.
                                </p>
                                <a href="/mathematics/2019/04/01/1-2-3-go-w1.html" class="themeix-btn danger-bg">Get
                                    Started</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="single-box">
                        <div class="box-inner">
                            <div class="icons" style="font-size: 50px; color:#2196F3;"><i class="fa fa-chart-line"></i></div>
                            <br />
                            <h2>Week 2</h2>
                            <p>Statistics</p>
                            <a href="#" class="themeix-btn waiting-bg">Lab Coming Soon</a>
                        </div>
                        <div class="box-flip">
                            <div class="flip-box-innner">
                                <h2>Statistics</h2>
                                <p>Conduct asn opinion poll and chart your results, then do a probability experiment.</p>
                                <a href="/mathematics/2019/04/08/1-2-3-go-w2.html" class="themeix-btn danger-bg">Get
                                    Started</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="single-box">
                        <div class="box-inner">
                            <div class="icons" style="font-size: 50px; color:#71c668;"><i class="fa fa-superscript"></i>
                            </div>
                            <br />
                            <h2>Week 3</h2>
                            <p>Do Math</p>
                            <a href="#" class="themeix-btn waiting-bg">Lab Coming Soon</a>
                        </div>
                        <div class="box-flip">
                            <div class="flip-box-innner">
                                <h2>Do Math</h2>
                                <p>Use the power of mathematics to figure out something that you can't measure - how
                                    much you weigh on another planet.</p>
                                <a href="/mathematics/2019/04/15/1-2-3-go-w3.html" class="themeix-btn danger-bg">Get
                                    Started</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="single-box">
                        <div class="box-inner">
                            <div class="icons" style="font-size: 50px; color:#6600CC;"><i class="fa fa-user-secret"></i>
                            </div>
                            <br />
                            <h2>Week 4</h2>
                            <p>Secret Codes</p>
                            <a href="#" class="themeix-btn waiting-bg">Lab Coming Soon</a>
                        </div>
                        <div class="box-flip">
                            <div class="flip-box-innner">
                                <h2>Secret Codes</h2>
                                <p>Use mathematics to create a secret code and send a message to a friend. Teach them
                                    how to decode your message.
                                </p>
                                <a href="/mathematics/2019/04/22/1-2-3-go-w4.html" class="themeix-btn danger-bg">Get
                                    Started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End 1-2-3 Go! Agenda -->