<!-- Start Document Source Area -->
<section>
    <div class="document-source-area themeix-ptb">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="single-box">
                        <div class="box-inner">
                            <img src="{{site.baseurl}}/assets/images/icon1.png" alt="box img">
                            <h3>QA Section</h3>
                            <p>45 Questions / 994 Answers</p>
                            <a href="/pages/questions.html" class="themeix-btn danger-bg">See All Questions</a>
                        </div>
                        <div class="box-flip">
                          <div class="flip-box-innner">
                            <h3>Question Answer Section</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi dolor optio, dolore labore cupiditate, repudiandae atque adipisci obcaecati laborum.</p>
                            <a href="/pages/questions.html" class="themeix-btn danger-bg">See All Questions</a>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-box">
                        <div class="box-inner">
                            <img src="{{site.baseurl}}/assets/images/icon2.png" alt="box img">
                            <h3>Join Blog</h3>
                            <p>23 Topics / 49 Posts</p>
                            <a href="/pages/index.html" class="themeix-btn hover-bg">Join The Blog</a>
                        </div>
                        <div class="box-flip">
                          <div class="flip-box-innner">
                            <h3>Join Blog</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi dolor optio, dolore labore cupiditate, repudiandae atque adipisci obcaecati laborum.</p>
                            <a href="/pages/index.html" class="themeix-btn danger-bg">Visit Blog</a>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-box">
                        <div class="box-inner">
                            <img src="{{site.baseurl}}/assets/images/icon3.png" alt="box img">
                            <h3>Latest Updates</h3>
                            <p>14 Updates / 9 Comments</p>
                            <a href="updates.html" class="themeix-btn primary-bg">Get Updates</a>
                        </div>
                        <div class="box-flip">
                           <div class="flip-box-innner">
                            <h3>Latest Updates</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi dolor optio, dolore labore cupiditate, repudiandae atque adipisci obcaecati laborum.</p>
                            <a href="/pages/updates.html" class="themeix-btn danger-bg">See All Updates</a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Document Source Area -->