<!-- Start Document Source Area -->
<section>
    <div class="document-source-area themeix-ptb">
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <div class="single-box">
                        <div class="box-inner">
                            <img src="{{site.baseurl}}/assets/images/icon-s.svg" style="width: 100px;" alt="box img">
                            <h2>S</h2>
                            <p>Science</p>
                            <a href="/pages/science.html" class="themeix-btn danger-bg">Learn More</a>
                        </div>
                        <div class="box-flip">
                          <div class="flip-box-innner">
                            <h2>Science</h2>
                            <p>There are five (5) Nova module options for the Science topic - Science Everywhere, Down and Dirty, Nova Wild, Out of this World, and Uncovering the Past.</p>
                            <a href="/pages/science.html" class="themeix-btn danger-bg">Learn More</a>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="single-box">
                        <div class="box-inner">
                            <img src="{{site.baseurl}}/assets/images/icon-t.svg" style="width: 100px;" alt="box img">
                            <h2>T</h2>
                            <p>Technology</p>
                            <a href="/pages/technology.html" class="themeix-btn hover-bg">Learn More</a>
                        </div>
                        <div class="box-flip">
                          <div class="flip-box-innner">
                            <h2>Technology</h2>
                            <p>There are two (2) Nova module options for the Technology topic- Tech Talk and Cub Scouts Can Code.</p>
                            <a href="/pages/technology.html" class="themeix-btn danger-bg">Learn More</a>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="single-box">
                        <div class="box-inner">
                            <img src="{{site.baseurl}}/assets/images/icon-e.svg" style="width: 100px;" alt="box img">
                            <h2>E</h2>
                            <p>Engineering</p>
                            <a href="/pages/engineering.html" class="themeix-btn primary-bg">Learn More</a>
                        </div>
                        <div class="box-flip">
                           <div class="flip-box-innner">
                            <h2>Engineering</h2>
                            <p>There is one (1) Nova module for the Engineering topic - Swing!.</p>
                            <a href="/pages/engineering.html" class="themeix-btn danger-bg">Learn More</a>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="single-box">
                        <div class="box-inner">
                            <img src="{{site.baseurl}}/assets/images/icon-m.svg" style="width: 100px;" alt="box img">
                            <h2>M</h2>
                            <p>Mathematics</p>
                            <a href="/pages/mathematics.html" class="themeix-btn purple-bg">Learn More</a>
                        </div>
                        <div class="box-flip">
                           <div class="flip-box-innner">
                            <h2>Math</h2>
                            <p>There are two (2) Nova modules for the Mathematics topic - 1-2-3 Go! and Fearful Symmetry.</p>
                            <a href="/pages/mathematics.html" class="themeix-btn danger-bg">Learn More</a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Document Source Area -->