    <!-- Start FAQ Section -->
    <section class="faq-section themeix-ptb">
        <div class="container">
            <div class="row">
 
                <div class="col-sm-7">
                    <div class="themeix-section-title">
                        <h2>Frequently Asked Questions</h2>
                        <p>Most of your questions can be answered by looking here.</p>
                    </div>				
                    <div class="faq-tab-wrapper">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default themeix-panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                       <a  data-toggle="collapse" data-parent="#accordion" class="minus-sign" href="#accordion-one">What is Nova STEM Labs?</a>
                                   </h4>
                                </div>
                                <div id="accordion-one" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>Nova STEM Labs is an effort to make teaching STEM in the Cub Scouts and Boy Scouts more repeatable and to make it easy for any adult leader to get a STEM program started for their unit.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default themeix-panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                       <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#accordion-two">Do I need to be in a Scout unit to use this site?</a>
                                   </h4>
                                </div>
                                <div id="accordion-two" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Anyone is welcome to use the material on this site. If a youth wants to earn the Nova Award through Cub Scouts or Scouts BSA, they must be a registered Scout and have a Nova counselor to work with.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default themeix-panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#accordion-three">Can you be my Scout's Nova Counselor?</a>
                                   </h4>
                                </div>
                                <div id="accordion-three" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Unfortunately we cannot provide you with a Nova Counselor, but your unit leader should be able to help you identify Nova Counselors in your area.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default themeix-panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#accordion-four">Isn’t STEM only for nerds and not for real people?</a>
                                   </h4>
                                </div>
                                <div id="accordion-four" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Certainly some people involved in STEM are nerds. And we are rather proud of it (although I prefer 'geek')! However, knowledge of STEM and comfort with STEM are essential for everybody.</p>
                                        <p>STEM is a part of the outdoor experience in Scouting. Studying STEM can answer such questions as: How do sails work to propel a sailboat? What do fish like to eat so I can use the most effective bait? STEM skills can be a part of all youths’ outdoor experience.</p>
                                        <p>It’s not just about the STEM skills; it’s also about the STEM methods. Those involve developing an idea, trying it out with experiments, seeing what works, and improving on the process. It means being willing to try something and fail and then learning from the experience.</p>
                                        <p>Not every youth who is introduced to camping through Scouting becomes a forest ranger or hiking guide. In the same way, not every Scout who enjoys STEM in Scouting will become a scientist, technologist, engineer, or mathematician. But if our goal is to enhance the citizenship, character, and fitness of every youth, then STEM is a key part of the future for those youth.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default themeix-panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#accordion-five">What qualifications do Nova counselors need?</a>
                                   </h4>
                                </div>
                                <div id="accordion-five" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Adults age 21 and older with little to some knowledge of STEM topics can be Nova counselors. Counselors should be comfortable with high school math and science but not necessarily have a degree in or work in a STEM-related field or be an expert in the topic. It’s enough to have an interest in STEM and to be willing to look into the topics so that they can guide the youth. For instance, if you have ever gone fishing, dug a hole, or ridden a bike, you understand simple machines.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default themeix-panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#accordion-six">What qualifications do Supernova mentors need?</a>
                                   </h4>
                                </div>
                                <div id="accordion-six" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>It depends upon the program level. The most important qualifications are the ability to work with youth at that level and an interest in helping youth with STEM.</p>
                                        <p>Supernova mentors for Cub Scouts and Webelos Scouts must be an adults, age 21 and older, with some STEM knowledge and interest. Scouts BSA Supernova mentors require significant expertise such as being a hobbyist, having a bachelor’s degree in a STEM topic, or having work experience in a STEM-related field like mechanics, welding, etc. Supernova mentors for Venturers require in-depth expertise as Venturers can become quite deeply involved in STEM topics and can do actual innovative research in some cases. Ideally, Supernova mentors for Venturers should be adults with in-depth knowledge of STEM and with experience in teaching, guiding, and mentoring young people. At the Einstein Supernova level, the topic may require an expert in a specific field. These adults maybe a parent if they are working with more their own youth.</p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="panel panel-default themeix-panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#accordion-seven">Why doesn't the Scouts BSA provide this information?</a>
                                   </h4>
                                </div>
                                <div id="accordion-seven" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Actually, they do. Everything you need to know can be found on the Scouting website. Start <a href="https://www.scouting.org/stem-nova-awards">here</a>". We created this site to share how we werw implementing the program. This site represents one way of implementing a Nova program in your unit, but not the only way. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Live Chat --
                <div class="col-md-offset-1 col-sm-4">	
                    <div class="live-chat">
                        <img src="{{site.baseurl}}/assets/images/person1.png" alt="person">
						<div class="chat-agent-details">
							<h6>Nandita Roy</h6>
							<p>Wordpress Support Ninja</p>
						</div>
                        <div class="chat-link">
                            <a href="https://twitter.com/messages/compose?recipient_id=843810025478930432"><span class="live">Live</span> Chat Agent <span>Get 24/7 Customer Support</span></a>
                        </div>
						<div class="chat-phone">
							+123 123 1234
						</div>
                    </div>
                </div>
                <!-- End Live Chat -->
            </div>
        </div>
    </section>
    <!-- End FAQ Section -->