    <!-- Start Parallax section -->
    <div class="parallax-area themeix-ptb">
        <div class="container">
            <div class="row">
              <div class="col-md-offset-2 col-md-8">
                  <div class="themeix-section-title text-center">
                   <h2>Highlighted Features</h2>
                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae numquam, quam doloribus iure dolorum molestias et autem dolores possimus, sed inventore non qui ipsa recusandae tenetur mollitia consequatur, placeat tempore.</p>
                </div>
              </div>
            </div>
            <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="single-article">
              <div class="article-icon">
                  <span class="fa fa-gears"></span>
              </div>
                <div class="article-text">
                    <a class="article-title" href="#">I do UX design</a>
                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.</p>
                </div>
             </div>
            </div>
           <div class="col-sm-6 col-md-4">
             <div class="single-article">
                <div class="article-icon">
                    <span class="fa fa-desktop"></span>
                </div>
                <div class="article-text">
                    <a class="article-title" href="#">I do interaction design</a>
                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.</p>
                </div>
            </div>
           </div>
            <div class="col-sm-6 col-md-4">
              <div class="single-article">
                <div class="article-icon">
                    <span class="fa fa-magic"></span>
                </div>
                <div class="article-text">
                    <a class="article-title" href="#">I do graphic design</a>
                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="single-article">
              <div class="article-icon">
                  <span class="fa fa-question"></span>
              </div>
                <div class="article-text">
                    <a class="article-title" href="#">How You Get Success ?</a>
                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.</p>
                </div>
             </div>
            </div>
           <div class="col-sm-6 col-md-4">
             <div class="single-article">
                <div class="article-icon">
                    <span class="fa fa-key"></span>
                </div>
                <div class="article-text">
                    <a class="article-title" href="#">Secreet Success Key</a>
                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.</p>
                </div>
            </div>
           </div>
            <div class="col-sm-6 col-md-4">
              <div class="single-article">
                <div class="article-icon">
                    <span class="fa fa-frown-o"></span>
                </div>
                <div class="article-text">
                    <a class="article-title" href="#">Why You Failure ?</a>
                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.</p>
                </div>
              </div>
            </div>
            </div>
        </div>
    </div>
    <!-- End Parallax section -->