<!-- Start Hour of Code -->
<div class="our-community-area themeix-ptb">
    <div class="container">
        <p>The Hour of Code takes place each year during Computer Science Education Week, held annually in recognition
            of the birthday of computing pioneer Admiral Grace Murray Hopper (December 9, 1906).</p>
        <p>The Hour of Code started as a one-hour introduction to computer science, designed to demystify "code", to
            show that anybody can learn the basics, and to increase participation in the field of computer science. It
            has since become a worldwide effort to celebrate computer science, starting with 1-hour coding activities.
        </p>
        <p>Every Cub Scout should have the opportunity to learn computer science. It helps improve problem-solving
            skills, logic and creativity. By starting early, Scouts will have a foundation for success in any
            21st-century career path.</p>

        <h2>Who is Grace Hopper</h2>
        <p>Grace Murray Hopper (December 9 1906 – January 1 1992) was an American computer scientist and United States
            Navy officer. She was one of the first people to work with modern digital computers and the first
            programmers of the Harvard Mark I calculator. She developed the first compiler for a computer programming
            language. She had the idea that programs could be written in a language that was close to English rather
            than in machine code or languages (such as assembly language) close to machine code, which is how it was
            normally done at that time. COBOL language was based very much on her philosophy.</p>
        <p><i>From <a href="https://kids.kiddle.co/Grace_Hopper" target="_blank">Grace Hopper facts for kids</a></i></p>

        <h2>Its Just an Hour</h2>
        <p>The Hour of Code is just that...one hour exploring the world of coding. The Hour of Code is driven by a
            community of people and organizations that have come together to support the Hour of Code — including
            Microsoft, Apple, Amazon, Boys and Girls Clubs of America and the College Board.</p>

        <h2>ASSIGNMENT</h2>
        <p>In a Den or Pack meeting led by a <i>Scouts BSA</i> Scout or Venturer who is working on his or her Supernova
            award, or by a Den Leader or qualified adult volunteer try a one-hour tutorial designed for your age group.
        </p>
        <p>
            <ol>
                <li>Go to the <a href="https://hourofcode.com/us/learn" target="_blank">Hour of Code Activities</a></li>
                <li>Select the <b>Grades 2-5</b> filter.</li>
                <li>Select from any of the activities to start your Hour of Code.</li>
                <li>Spend an hour or more on the activities.</li>
            </ol>
        </p>

        <h2>What Device Should I Use?</h2>
        <p>Hour of Code tutorials work on most devices and browsers. Windows and Apple laptops and Windows, Apple,
            Android, and Kindle tablets are all supported.</p>

        <h2>I Don't Know Anything About Coding. Can I Still Lead an Event?</h2>
        <p>Of course. Hour of Code activities are self-guided. All you have to do is try our current tutorials, pick the
            tutorial you want, and pick an hour — we take care of the rest. We also have options for every age and
            experience-level, from kindergarten and up.</p>
    </div>
</div>
<!-- End Hour of Code -->