<!-- Start Nova Day -->
<div class="our-community-area themeix-ptb">
    <div class="container">
        <h2>Nova STEM Day - May 5, 2019 at TBD (Sammamish or Redmond)</h2>
        <p>It can be difficult to get started on a Nova award. Where should you start? What should you do?.</p>
        <p>Nova STEM Day has been created to help you out. In this very hands-on day, Scouts will participate in
            activities in each category - Science, Technology, Engineering and Math. All of the activities are part of
            current Nova modules, so you as the adult leader can also get some ideas (and we'll have a special session
            just for adult leaders who want to learn more about the Nova program and how to get started).</p>
        <p>Check out all of the activities Scouts will participate in throughout the day.<br /><br /></p>
        <div class="row">
            <div class="col-xs-3">
                <div class="single-community">
                    <div class="icons"><i class="fa fa-flask"></i></div>
                    <h3>Science</h3>
                    <p>Learn how to use the scientific method in a hands-on experiment. In this activity you will learn
                        about chemical reactions while using the scientific method - question, hypothesize, experiment,
                        observe and record, analyze and share results. You will don a lab coat and googles and see what
                        happens when you mix an acid and a powder.
                    </p>
                    <p>This activity is part of the <strong>Science Everywhere!</strong> Nova Award module.</p>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="single-community">
                    <div class="icons"><i class="fa fa-robot"></i></div>
                    <h3>Technology</h3>
                    <p>Learn how to write a computer program to control a robot. In this hands-on activity, Scouts will
                        learn the basic or writing a software program to control a small robot. They will experiment
                        with different methods and conditions in an easy-to-use, kid-friendly programming tool. No
                        experience necessary.
                    </p>
                    <p>This activity is part of the <strong>Cub Scouts Can Code</strong> Nova Award module.</p>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="single-community">
                    <div class="icons"><i class="fas fa-car-side"></i></div>
                    <h3>Engineering</h3>
                    <p>In this exciting activity Scouts will experiment with a Pinewood Derby car to learn about
                        physics. THrough some experiments the Scouts will learn what simple modifications improve the
                        physics of a Pinewood car, making it go faster. They will race their cars down a real Pinewood
                        Derby track several times to see what effect their changes have.
                    </p>
                    <p>This activity is part of the <strong>Swing!</strong> Nova Award module.</p>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="single-community">
                    <div class="icons"><i class="fa fa-terminal"></i></div>
                    <h3>Math</h3>
                    <p>Learn how to be a spy or a hacker in this code creating, code breaking activity. During this
                        hands-on activity Scouts will use different techniques to write messages in code and share them
                        with others. Can they break someone elses code?. At the end of the day there will be a raffle -
                        you have to crack the code to enter.</p>
                    <p>This activity is part of the <strong>1-2-3 Go!</strong> Nova Award module.</p>
                </div>
            </div>
        </div>
        <div>
            <br /><br />
            <h2>More Information</h2>
            <p>Nova STEM Day is a free introduction to the Nova Award program, put on by Cub Scout Pack 571
                (Sammamish).
                The goal for the day is to get as many Cub Scouts as possible excited about STEM and the Nova program,
                and
                to help adult leaders who are interested to learn how to start a Nova program in their unit.</p>
            <h3>Agenda</h3>
            <p>Everyone starts and ends the day together, then Scouts break into four groups and rotate through the
                activities each hour (with a short break in between).
            </p>
            <table>
                <tr>
                    <th>Time</th>
                    <th>SCIENCE</th>
                    <th>TECHNOLOGY</th>
                    <th>ENGINEERING</th>
                    <th>MATH</th>
                    <th>Nova STEM Labs</th>
                </tr>
                <tr>
                    <td>12:30 - 1:00</td>
                    <td colspan="5">Welcome, introductions, overview and group assignments</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        Experimenting with the Scientific Method<br />
                        Science Everywhere!</td>
                    <td>Programming Robots<br />
                        Cub Scouts Can Code</td>
                    <td>Pinewood Derby Experiments<br />
                        Swing!</td>
                    <td>Codes &amp; Ciphers<br />
                        1-2-3 Go!</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>1:00 - 2:10</td>
                    <td>Group 1</td>
                    <td>Group 2</td>
                    <td>Group 3</td>
                    <td>Group 4</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>2:10 - 3:20</td>
                    <td>Group 2</td>
                    <td>Group 3</td>
                    <td>Group 4</td>
                    <td>Group 1</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>3:20 - 4:30</td>
                    <td>Group 3</td>
                    <td>Group 4</td>
                    <td>Group 1</td>
                    <td>Group 2</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>4:30 - 5:30</td>
                    <td>Group 4</td>
                    <td>Group 1</td>
                    <td>Group 2</td>
                    <td>Group 3</td>
                    <td>Nova for Leaders</td>
                </tr>
                <tr>
                    <td>5:30 - 6:00</td>
                    <td colspan="5">Wrap up, thanks yous, and raffle</td>
                </tr>
            </table>
            <br /><br />
            <h3>Registration info coming soon. Check back.</h3>
        </div>
    </div>
</div>
</div>
<!-- End Nova Day -->