<!-- Start Supernova -->
<div class="our-community-area themeix-ptb">
    <div class="container">
        <h1>Supernova Awards</h1>
        <p>The most common Nova awards involve a group of requirements and activities in one of the STEM areas. A Scout
            completes the requirements and earns the Nova award. Completing the initial Nova award results in the
            Scout earning a patch for wear on the uniform, while each subsequent award earns the Scout a pin to be worn
            on the patch.

            <strong>Supernova</strong> awards require more in-depth and complex involvement. Earning a Supernova award
            involves earning several Nova awards plus completing other requirements. An adult mentor will guide and
            support a Scout working on the Supernova award requirements.
        </p>
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <div class="single-box">
                        <div class="box-inner">
                            <div class="icons" style="font-size: 50px; color:#f26c4f;"><i class="fa fa-radiation"></i></div>
                            <br />
                            <h2>Dr. Luis W. Alvarez</h2>
                            <p>Bears & Wolves</p>
                            <a href="/pages/dr-luis-alvarez.html" class=" themeix-btn
                                        danger-bg">Go To Labs</a>
                        </div>
                        <div class="box-flip">
                            <div class="flip-box-innner">
                                <h2>Dr. Luis W. Alvarez</h2>
                                <p>
                                    This Supernova award can be earned by Cub Scouts like you who want to soar in
                                    science.
                                </p>
                                <a href="/pages/dr-luis-alvarez.html" class="themeix-btn danger-bg">Go To Labs</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="single-box">
                        <div class="box-inner">
                            <div class="icons" style="font-size: 50px; color:#2196F3;"><i
                                    class="fa fa-space-shuttle"></i></div>
                            <br />
                            <h2>Dr. Charles Townes</h2>
                            <p>Webelos</p>
                            <a href="#" class="themeix-btn hover-bg">Lab Coming Soon</a>
                        </div>
                        <div class="box-flip">
                            <div class="flip-box-innner">
                                <h2>Dr. Charles Townes</h2>
                                <p>This Supernova award can be earned by Webelos Scouts like you who are interested in
                                    science, technology, engineering and math.
                                </p>
                                <a href="#" class="themeix-btn danger-bg">Labs Coming Soon</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- End Supernova -->