<!-- Start Technology -->
<div class="our-community-area themeix-ptb">
    <div class="container">
        <h1>T is for 'Technology'</h1>
        <p>The <strong>T</strong> in STEM is for TECHNOLOGY. he Nova STEM Labs for technology explore the use of tools,
            machines, or scientific knowledge to solve problems, such as computer technology. The use of technology can
            help people control, adapt to, and change their environments. In these labs you will learn about technology
            in everyday life, computers, communications, algorithims, and coding computer programs. You can start with
            either of the following Nova STEM Labs you'd prefer.
        </p>
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <div class="single-box">
                        <div class="box-inner">
                            <div class="icons" style="font-size: 50px; color:#f26c4f;"><i class="fa fa-power-off"></i>
                            </div>
                            <br />
                            <h2>Tech Talk</h2>
                            <p>Everyday technology</p>
                            <a href="#" class="themeix-btn waiting-bg">Lab Coming Soon</a>
                        </div>
                        <div class="box-flip">
                            <div class="flip-box-innner">
                                <h2>Tech Talk</h2>
                                <p>
                                    Tech Talk introduces you to how technology is used in everyday life.
                                </p>
                                <a href="#" class="themeix-btn danger-bg">Lab Coming Soon</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="single-box">
                        <div class="box-inner">
                            <div class="icons" style="font-size: 50px; color:#2196F3;"><i class="fa fa-laptop-code"></i>
                            </div>
                            <br />
                            <h2>Cub Scouts Can Code</h2>
                            <p>Algorithms </p>
                            <a href="#" class="themeix-btn waiting-bg">Lab Coming Soon</a>
                        </div>
                        <div class="box-flip">
                            <div class="flip-box-innner">
                                <h2>Cub Scouts Can Code</h2>
                                <p>Cub Scouts Can Code explores the world of computers, including algorithims and
                                    coding.
                                </p>
                                <a href="#" class="themeix-btn danger-bg">Lab Coming Soon</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Technology -->