<!-- Start Science -->
<div class="our-community-area themeix-ptb">
    <div class="container">
        <h1>S is for 'Science'</h1>
        <p>The <strong>S</strong> in STEM is for SCIENCE. The Nova STEM Labs for science explore different kinds of
            science. In these labs you will learn about science in everyday life, earth science, aniomal science, scpace
            science, and achealogical science (the study of civilizations). You can start with any of the Nova STEM Labs
            you'd like.
        </p>

        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <div class="single-box">
                        <div class="box-inner">
                            <div class="icons" style="font-size: 50px; color:#f26c4f;"><i class="fa fa-flask"></i></div>
                            <br />
                            <h2>Science<br/>Everywhere</h2>
                            <p>Everyday science</p>
                            <a href="/pages/science-everywhere.html" class=" themeix-btn
                                        danger-bg">Learn More</a>
                        </div>
                        <div class="box-flip">
                            <div class="flip-box-innner">
                                <h2>Science<br/>Everywhere</h2>
                                <p>
                                    Science Everywhere introduces you to the <i>scientific method</i> and you learn to
                                    spot science in everyday life.
                                </p>
                                <a href="/pages/science-everywhere.html" class="themeix-btn danger-bg">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="single-box">
                        <div class="box-inner">
                            <div class="icons" style="font-size: 50px; color:#2196F3;"><i
                                    class="fa fa-globe-americas"></i></div>
                            <br />
                            <h2>Down & Dirty</h2>
                            <p>Earth science</p>
                            <a href="/science/2019/03/11/science-everywhere-w2.html" class="themeix-btn hover-bg">Learn
                                More</a>
                        </div>
                        <div class="box-flip">
                            <div class="flip-box-innner">
                                <h2>Down & Dirty</h2>
                                <p>You will learn and use the scientific method share your learning with your Nova
                                    Counselor.
                                </p>
                                <a href="/science/2019/03/11/science-everywhere-w2.html"
                                    class="themeix-btn danger-bg">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="single-box">
                        <div class="box-inner">
                            <div class="icons" style="font-size: 50px; color:#71c668;"><i class="fa fa-paw"></i>
                            </div>
                            <br />
                            <h2>Nova Wild</h2>
                            <p>Animal science</p>
                            <a href="/science/2019/03/18/science-everywhere-w3.html"
                                class="themeix-btn primary-bg">Learn More</a>
                        </div>
                        <div class="box-flip">
                            <div class="flip-box-innner">
                                <h2>Nova Wild</h2>
                                <p>Demonstrate your understanding of the <i>scientific method</i>
                                    and use it in a series of experiments.</p>
                                <a href="/science/2019/03/18/science-everywhere-w3.html"
                                    class="themeix-btn danger-bg">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-3">
                    <div class="single-box">
                        <div class="box-inner">
                            <div class="icons" style="font-size: 50px; color:#6600CC;"><i
                                    class="fa fa-user-astronaut"></i>
                            </div>
                            <br />
                            <h2>Out of<br/>this World</h2>
                            <p>Space science</p>
                            <a href="/science/2019/03/25/science-everywhere-w4.html" class="themeix-btn purple-bg">Learn
                                More</a>
                        </div>
                        <div class="box-flip">
                            <div class="flip-box-innner">
                                <h2>Out of<br/>this World</h2>
                                <p>Visit to a place where science is being done and talk to a scientist about science in
                                    every day life.
                                </p>
                                <a href="/science/2019/03/25/science-everywhere-w4.html"
                                    class="themeix-btn danger-bg">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="single-box">
                        <div class="box-inner">
                            <div class="icons" style="font-size: 50px; color:#FFD300;"><i class="fa fa-landmark"></i>
                            </div>
                            <br />
                            <h2>Uncovering<br/>the Past</h2>
                            <p>Arcaeology science</p>
                            <a href="/science/2019/03/25/science-everywhere-w4.html" class="themeix-btn yellow-bg">Learn
                                More</a>
                        </div>
                        <div class="box-flip">
                            <div class="flip-box-innner">
                                <h2>Uncovering<br/>the Past</h2>
                                <p>Visit to a place where science is being done and talk to a scientist about science in
                                    every day life.
                                </p>
                                <a href="/science/2019/03/25/science-everywhere-w4.html"
                                    class="themeix-btn danger-bg">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- End Science -->