<!-- Start Technology -->
<div class="our-community-area themeix-ptb">
    <div class="container">
        <h1>E is for 'Engineering'</h1>
        <p>The <strong>E</strong> in STEM is for ENGINEERING. The Nova STEM Labs for engineering explore the design and
            use of simple machines, such as levers and pulleys, systems and stuctures, and the facinating worlkd of
            fluid dynamics - the study of how fluids (liquids, gases, and plasmas) behave and interact with other
            materials. You may start with either of the following Nova STEM Labs you'd prefer.
        </p>
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <div class="single-box">
                        <div class="box-inner">
                            <div class="icons" style="font-size: 50px; color:#f26c4f;"><i class="fa fa-power-off"></i>
                            </div>
                            <br />
                            <h2>Swing!</h2>
                            <p>Simple machines</p>
                            <a href="#" class="themeix-btn waiting-bg">Lab Coming Soon</a>
                        </div>
                        <div class="box-flip">
                            <div class="flip-box-innner">
                                <h2>Swing!</h2>
                                <p>Swing! helps you explore how engineering and simple machines (called levers) affect
                                    your life each day.
                                </p>
                                <a href="#" class="themeix-btn danger-bg">Lab Coming Soon</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="single-box">
                        <div class="box-inner">
                            <div class="icons" style="font-size: 50px; color:#2196F3;"><i class="fa fa-laptop-code"></i>
                            </div>
                            <br />
                            <h2>Up & Away</h2>
                            <p>Fluid Dynamics </p>
                            <a href="#" class="themeix-btn waiting-bg">Lab Coming Soon</a>
                        </div>
                        <div class="box-flip">
                            <div class="flip-box-innner">
                                <h2>Up & Away</h2>
                                <p>Up and Away explores the world of fluid dynamics, and how it affects your everyday
                                    life.
                                </p>
                                <a href="#" class="themeix-btn danger-bg">Lab Coming Soon</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Technology -->