<!-- Start Mathematics -->
<div class="our-community-area themeix-ptb">
    <div class="container">
        <h1>M is for 'Mathematics'</h1>
        <p>The <strong>M</strong> in STEM is for MATHEMATICS. The Nova STEM Labs for math explore math and physics. In
            these labs you will learn about math in everyday life, codes and ciphers, symetry, and how you can calculate
            important data when you have partial data. There are currently two (2) Nova Lab offerings in Mathematics.
        </p>
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <div class="single-box">
                        <div class="box-inner">
                            <div class="icons" style="font-size: 50px; color:#f26c4f;"><i
                                    class="fa fa-sort-numeric-up"></i></div>
                            <br />
                            <h2>1-2-3 Go!</h2>
                            <p>Everyday mathematics</p>
                            <a href="/mathematics/1-2-3-go.html" class=" themeix-btn
                                        danger-bg">Go To Lab</a>
                        </div>
                        <div class="box-flip">
                            <div class="flip-box-innner">
                                <h2>1-2-3 Go!</h2>
                                <p>
                                    1-2-3 Go! is designed to help you explore how math affects your life each day.
                                </p>
                                <a href="/mathematics/1-2-3-go.html" class="themeix-btn danger-bg">Go To Lab</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="single-box">
                        <div class="box-inner">
                            <div class="icons" style="font-size: 50px; color:#2196F3;"><i class="fa fa-dice-d20"></i>
                            </div>
                            <br />
                            <h2>Fearful Symmetry</h2>
                            <p>Earth science</p>
                            <a href="#" class="themeix-btn waiting-bg">Lab Coming Soon</a>
                        </div>
                        <div class="box-flip">
                            <div class="flip-box-innner">
                                <h2>Fearful Symmetry</h2>
                                <p>Fearful Symmetry is designed to help you explore how symmetry affects your life each
                                    day.
                                </p>
                                <a href="#" class="themeix-btn danger-bg">Lab Coming Soon</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Mathematics -->