<!-- Start Document Source Area -->
<section>
    <div class="document-source-area themeix-ptb">
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <div class="single-box">
                        <div class="box-inner">
                            <div class="icons" style="font-size: 50px; color:#f26c4f;"><i class="fa fa-film"></i></div>
                            <br />
                            <h2>Week 1</h2>
                            <p>Introduction</p>
                            <a href="/science/2019/03/04/science-everywhere-w1.html" class=" themeix-btn
                                danger-bg">Get Started</a>
                        </div>
                        <div class="box-flip">
                            <div class="flip-box-innner">
                                <h2>Introduction</h2>
                                <p>
                                    An introduction to the <i>scientific method</i> by watching or
                                    reading about science and discussing it with your Nova Councelor.
                                </p>
                                <a href="/science/2019/03/04/science-everywhere-w1.html"
                                    class="themeix-btn danger-bg">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="single-box">
                        <div class="box-inner">
                            <div class="icons" style="font-size: 50px; color:#2196F3;"><i class="fa fa-flask"></i></div>
                            <br />
                            <h2>Week 2</h2>
                            <p>Scientific Method</p>
                            <a href="/science/2019/03/11/science-everywhere-w2.html" class="themeix-btn hover-bg">Get
                                Started</a>
                        </div>
                        <div class="box-flip">
                            <div class="flip-box-innner">
                                <h2>Scientific Method</h2>
                                <p>You will learn and use the scientific method share your learning with your Nova
                                    Counselor.
                                </p>
                                <a href="/science/2019/03/11/science-everywhere-w2.html"
                                    class="themeix-btn danger-bg">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="single-box">
                        <div class="box-inner">
                            <div class="icons" style="font-size: 50px; color:#71c668;"><i class="fa fa-microscope"></i>
                            </div>
                            <br />
                            <h2>Week 3</h2>
                            <p>Experiments</p>
                            <a href="/science/2019/03/18/science-everywhere-w3.html" class="themeix-btn primary-bg">Get
                                Started</a>
                        </div>
                        <div class="box-flip">
                            <div class="flip-box-innner">
                                <h2>Experiments</h2>
                                <p>Demonstrate your understanding of the <i>scientific method</i>
                                    and use it in a series of experiments.</p>
                                <a href="/science/2019/03/18/science-everywhere-w3.html"
                                    class="themeix-btn danger-bg">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="single-box">
                        <div class="box-inner">
                            <div class="icons" style="font-size: 50px; color:#6600CC;"><i class="fa fa-user-md"></i>
                            </div>
                            <br />
                            <h2>Week 4</h2>
                            <p>Meet a Scientist</p>
                            <a href="/science/2019/03/25/science-everywhere-w4.html" class="themeix-btn purple-bg">Get
                                Started</a>
                        </div>
                        <div class="box-flip">
                            <div class="flip-box-innner">
                                <h2>Meet a Scientist</h2>
                                <p>Visit to a place where science is being done and talk to a scientist about science in
                                    every day life.
                                </p>
                                <a href="/science/2019/03/25/science-everywhere-w4.html"
                                    class="themeix-btn danger-bg">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Document Source Area -->