    <!-- Start Slider Area -->
    <div class="slider-area">
        <div class="container-fluid">
            <div class="row">
                <div class="slider-wrapper-2">
                   <div id="particles-js">
                   <div class="slider-fixed-text">
                       <h1>Documenter - All in One Support Portal</h1>
                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, incidunt, quis! Voluptatem repellat, modi sunt odio. Eum dignissimos cum odio, sed impedit! Omnis harum suscipit voluptatem rerum architecto nemo atque.</p>
                         <div class="slider-buttons">
                            <a href="/pages/updates.html" class="themeix-btn white-bg">Latests Updates</a>
                            <a href="/pages/questions.html" class="themeix-btn primary-bg">All Questions</a>
                        </div>
                   </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Slider Area -->