    <!-- Start Slider Area -->
    <div class="slider-area">
        <div class="container-fluid">
            <div class="row">
                <div class="slider-wrapper-2">
                   <div id="particles-js">
                   <div class="slider-fixed-text">
                        <h1>Nova STEM Labs</h1>
                        <p>STEM—Science, Technology, Engineering and Mathematics</p>
                        <p>STEM is part of an initiative the Boy Scouts of America has taken on to encourage the natural curiosity of youth members and their sense of wonder about these fields through existing programs. From science experiements to robotics, Scouts can’t help but enjoy the wide range of STEM-related activities. To support this initiative, the BSA developed the STEM Nova Awards program so that youth members have fun and receive recognition for their efforts. Cub Scout Nova Awards may be earned by Wolves, Bears, Webelos, and Arrow Of Light Scouts.</p>
                        <!--
                        <div class="slider-buttons">
                            <a href="/pages/updates.html" class="themeix-btn white-bg">Get Started</a>
                            <a href="/pages/questions.html" class="themeix-btn primary-bg">All Questions</a>
                        </div>
                        -->
                   </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Slider Area -->