<!-- Start Alvarez Agenda -->
<section>
    <div class="document-source-area themeix-ptb">
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <div class="single-box">
                        <div class="box-inner">
                            <div class="icons" style="font-size: 50px; color:#f26c4f;"><i class="fa fa-medal"></i>
                            </div>
                            <br />
                            <h2>October</h2>
                            <p>Who is Dr. Alvarez?</p>
                            <a href="/supernova/alvarez-who-is-dr-a.html" class="themeix-btn danger-bg">Get
                                Started</a>
                        </div>
                        <div class="box-flip">
                            <div class="flip-box-innner">
                                <h2>Dr. Luis W. Alvarez</h2>
                                <p>
                                    Find interesting facts about Dr. Luis W. Alvarez using resources in your school or
                                    local library or on the Internet (with your parent’s or guardian’s permission and
                                    guidance). Then discuss what you learn with your mentor.
                                </p>
                                <a href="/supernova/alvarez-who-is-dr-a.html" class="themeix-btn danger-bg">Get
                                    Started</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="single-box">
                        <div class="box-inner">
                            <div class="icons" style="font-size: 50px; color:#2196F3;"><i class="fa fa-microscope"></i>
                            </div>
                            <br />
                            <h2>November</h2>
                            <p>Use the scientific method.</p>
                            <a href="/supernova/alvarez-scientific-method.html" class="themeix-btn hover-bg">Get
                                Started</a>
                        </div>
                        <div class="box-flip">
                            <div class="flip-box-innner">
                                <h2>Experiment</h2>
                                <p>Learn about and demonstrate your the scientific method and use it in
                                    a series of experiments.
                                </p>
                                <a href="/supernova/alvarez-scientific-method.html" class="themeix-btn danger-bg">Get
                                    Started</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="single-box">
                        <div class="box-inner">
                            <div class="icons" style="font-size: 50px; color:#71c668;"><i class="fa fa-laptop-code"></i>
                            </div>
                            <br />
                            <h2>December</h2>
                            <p>Hour of Code</p>
                            <a href="/supernova/alvarez-hour-of-code.html" class="themeix-btn hover-bg">Get Started</a>
                        </div>
                        <div class="box-flip">
                            <div class="flip-box-innner">
                                <h2>Hour of Code</h2>
                                <p>Spend an hour learning to be a computer programmer during Computer Science Education Week.</p>
                                <a href="/supernova/alvarez-hour-of-code.html" class="themeix-btn danger-bg">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="single-box">
                        <div class="box-inner">
                            <div class="icons" style="font-size: 50px; color:#6600CC;"><i
                                    class="fa fa-user-astronaut"></i>
                            </div>
                            <br />
                            <h2>January</h2>
                            <p>STEM Careers</p>
                            <a href="#" class="themeix-btn waiting-bg">Coming Soon</a>
                        </div>
                        <div class="box-flip">
                            <div class="flip-box-innner">
                                <h2>STEM Careers</h2>
                                <p>UVisit with someone who works in a STEM-related career.
                                </p>
                                <a href="#" class="themeix-btn danger-bg">Coming Soon</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Alvarez Agenda -->