<!-- Start Alvarez Agenda -->
<section>
    <div class="document-source-area themeix-ptb">
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <div class="single-box">
                        <div class="box-inner">
                            <div class="icons" style="font-size: 50px; color:#2196F3;"><i class="fa fa-fingerprint"></i>
                            </div>
                            <br />
                            <h2>February</h2>
                            <p>Forensics.</p>
                            <a href="#" class="themeix-btn waiting-bg">Coming Soon</a>
                        </div>
                        <div class="box-flip">
                            <div class="flip-box-innner">
                                <h2>Forensics</h2>
                                <p>Learn how to solve crimes using finger prints, chromatography, and animals.
                                </p>
                                <a href="#" class="themeix-btn danger-bg">Coming Soon</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="single-box">
                        <div class="box-inner">
                            <div class="icons" style="font-size: 50px; color:#71c668;"><i class="fa fa-dolly"></i>
                            </div>
                            <br />
                            <h2>March</h2>
                            <p>Make it Move</p>
                            <a href="#" class="themeix-btn waiting-bg">Coming Soon</a>
                        </div>
                        <div class="box-flip">
                            <div class="flip-box-innner">
                                <h2>Make It Move</h2>
                                <p>Learn about simple machines like pulleys and levers, and make a Rube-Goldberg machine.</p>
                                <a href="#" class="themeix-btn danger-bg">Coming Soon</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--
                <div class="col-xs-3">
                    <div class="single-box">
                        <div class="box-inner">
                            <div class="icons" style="font-size: 50px; color:#6600CC;"><i class="fa fa-user-secret"></i>
                            </div>
                            <br />
                            <h2>April</h2>
                            <p>STEM Cereers</p>
                            <a href="/supernova/alvarez-stem-careers.html" class="themeix-btn purple-bg">Get
                                Started</a>
                        </div>
                        <div class="box-flip">
                            <div class="flip-box-innner">
                                <h2>STEM Careers</h2>
                                <p>UVisit with someone who works in a STEM-related career.
                                </p>
                                <a href="/supernova/alvarez-stem-careers.html" class="themeix-btn danger-bg">Get
                                    Started</a>
                            </div>
                        </div>
                    </div>
                </div>
                -->
            </div>
        </div>
    </div>
</section>
<!-- End Alvarez Agenda -->