<!-- Testimonials -->
<section class="testimonials-section themeix-ptb">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="themeix-section-title text-center">
                    <h2>What Our Happy Customer Says</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="testimonials-wrapper owl-carousel">
                    <div class="single-testimonial wow zoomIn animated">
                        <div class="testimonial-info">
                            <p>Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsu liquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum.</p>
                        </div>
                        <div class="testimonial-author">
                            <h5>John Doe</h5>
                            <span>E-Commerce Businessmen</span>
                        </div>
                    </div>
                    <div class="single-testimonial wow zoomIn animated">
                        <div class="testimonial-info">
                            <p>Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsu liquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum.</p>
                        </div>
                        <div class="testimonial-author">
                            <h5>Mr. James</h5>
                            <span>Web Designer & SEO Expert</span>
                        </div>
                    </div>
                    <div class="single-testimonial wow zoomIn animated">
                        <div class="testimonial-info">
                            <p>Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsu liquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum.</p>
                        </div>
                        <div class="testimonial-author">
                            <h5>John Doe</h5>
                            <span>E-Commerce Businessmen</span>
                        </div>
                    </div>
                    <div class="single-testimonial wow zoomIn animated">
                        <div class="testimonial-info">
                            <p>Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsu liquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum.</p>
                        </div>
                        <div class="testimonial-author">
                            <h5>Mr. James</h5>
                            <span>Web Designer & SEO Expert</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Testimonials -->