<!-- Start Topics Section Area -->
<section>
    <div class="topics-section-area themeix-ptb">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-9">
                    <!-- Start Topics Link Area -->
                    <div class="topics-links">
                        <div class="themeix-section-title">
                            <h2>Explore Topics</h2>
                            <p>The activities and guides for each STEM topic is always growig, but here is a sample of
                                some of what we have in Nova STEM Labs.</p>
                        </div>
                        <div class="row">
                            <!-- Start Science -->
                            <div class="col-md-6">
                                <div class="single-links">
                                    {% assign category = site.science | map: "category_name" | uniq %}
                                    {% for cat_name in category limit: "1" %}
                                    <h4 class="list-title">{{cat_name}}</h4>
                                    {% endfor %}
                                    <ul>
                                        {% for page in  site.science %}
                                        {% for tag in page.tags %}
                                        {% if tag == "question" %}
                                        <li><a href="{{page.url}}">{{page.question}}</a></li>
                                        {% endif %}
                                        {% endfor %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <!-- End Science -->

                            <!-- Start Category Two -->
                            <div class="col-md-6">
                                <div class="single-links">
                                    {% assign category = site.technology | map: "category_name" | uniq %}
                                    {% for cat_name in category limit: "1" %}
                                    <h4 class="list-title">{{cat_name}}</h4>
                                    {% endfor %}
                                    <ul>
                                        {% for page in  site.technology %}
                                        {% for tag in page.tags %}
                                        {% if tag == "question" %}
                                        <li><a href="{{page.url}}">{{page.question}}</a></li>
                                        {% endif %}
                                        {% endfor %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <!-- End Category Two -->

                            <!-- Start Category Three -->
                            <div class="col-md-6">
                                <div class="single-links">
                                    {% assign category = site.engineering | map: "category_name" | uniq %}
                                    {% for cat_name in category limit: "1" %}
                                    <h4 class="list-title">{{cat_name}}</h4>
                                    {% endfor %}
                                    <ul>
                                        {% for page in  site.engineering %}
                                        {% for tag in page.tags %}
                                        {% if tag == "question" %}
                                        <li><a href="{{page.url}}">{{page.question}}</a></li>
                                        {% endif %}
                                        {% endfor %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <!-- End Category Three -->

                            <!-- Start Mathematics -->
                            <div class="col-md-6">
                                <div class="single-links">
                                    {% assign category = site.mathematics | map: "category_name" | uniq %}
                                    {% for cat_name in category limit: "1" %}
                                    <h4 class="list-title">{{cat_name}}</h4>
                                    {% endfor %}
                                    <ul>
                                        {% for page in  site.mathematics %}
                                        {% for tag in page.tags %}
                                        {% if tag == "question" %}
                                        <li><a href="{{page.url}}">{{page.question}}</a></li>
                                        {% endif %}
                                        {% endfor %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <!-- End Mathematics -->

                        </div>
                        <div class="themeix-section-title">
                            <div class="topics-btn">
                                <a href="/pages/questions.html" class="themeix-btn hover-bg">See All Topics</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Topics Link Area -->
                </div>
                <!--Start Sidebar -->
                <div class="col-sm-4 col-md-3">
                    <div class="sidebar-list">
                        {% include recent_updated.html %}
                    </div>
                    <div class="sidebar-list">

                    </div>
                </div>
                <!--End Sidebar -->
            </div>
        </div>
    </div>
</section>
<!-- End Topics Section Area -->