---
title: 1-2-3-go
layout: default
navigation: false
sub_title: 1-2-3 Go!
---

{% include page_banner.html %}

<!-- Start 1-2-3 Go -->
<div class="our-community-area themeix-ptb">
    <div class="container">
        <h1>Mathematics in Everyday Life</h1>
        <p>Mathematics ('math' for short) can be a scary topic in school - but in life, math is everywhere. In this Nova
            module you will learn about some fun ways you can use math - such as using math to create a secret code, or
            figuring out how much you would weigh on another planet.</p>
    </div>

    {% include 1_2_3_go_agenda.html %}

    <div class="container">
        <h1>1-2-3 Go! Lab Plan</h1>
        <p>This module is designed to help you explore how you use math in every day life. For the full
            requirements, see <a href="https://www.scouting.org/stem-nova-awards/awards/cub-scout/1-2-3-go/">1-2-3
                Go!</a> on Scouting.org. The following are the requirements addressed in this
            <strong>NovaStemLabs</strong> journey.
            <h2>Week 1 - Introduction</h2>
            <ul>
                <li>Watch an episode or episodes (about 30-minutes total) of a show that involves math or physics. Then
                    do
                    the
                    following:
                    <ol>
                        <li>Make a list of at least two questions or ideas from what you watched.</li>
                        <li>Discuss two of the questions or ideas with your counselor.</li>
                    </ol>
                </li>
            </ul>
            <h2>Week 2 - Statistics</h2>
            <ul>
                <li>Conduct an opinion survey and chart your results/</li>
                <li>Conduct a probability experiment and track the results.</li>
            </ul>
            <h2>Week 3 - Do Math</h2>
            <ol>
                <li>Choose TWO of the following places and calculate how much you would weigh there.
                    <ol style="list-style-type: upper-alpha;">
                        <li>On the sun or the moon</li>
                        <li>On Jupiter or Pluto</li>
                        <li>On a planet that you choose</li>
                    </ol>
                </li>
                <li>Calculate the volume of air in your bedroom. Make sure your measurements have the same units—all
                    feet or all inches—and show your work.
                </li>
                <li>Watch an episode or episodes (about 30-minutes total) of a show that involves math or physics. Then
                    do the following:
                    <ol>
                        <li>Make a list of at least two questions or ideas from what you watched.</li>
                        <li>Discuss two of the questions or ideas with your counselor.</li>
                    </ol>
                </li>
            </ol>
            <h2>Week 4 - Secret Codes</h2>
            <ul>
                <ol>
                    <li>Look up, then discuss with your counselor each of the following:
                        <ol style="list-style-type: upper-alpha;">
                            <li>Cryptography</li>
                            <li>At least three ways secret codes or ciphers are made</li>
                            <li>How secret codes and ciphers relate to mathematics</li>
                        </ol>
                    </li>
                    <li>Design a secret code or cipher. Then do the following:
                        <ol style="list-style-type: upper-alpha;">
                            <li>Write a message in your code or cipher.</li>
                            <li>Share your code or cipher with your counselor.</li>
                        </ol>
                    </li>
                    <li>Discuss with your counselor how math affects your everyday life.</li>
                </ol>
            </ul>
        </p>
    </div>
</div>
<!-- End 1-2-3 Go! -->

{% include blog_posts.html %}
{% include call_to_action.html %}