---
title: cub scouts can code
layout: default
navigation: false
sub_title: Technology
---

{% include page_banner.html %}

<!-- Start Cub Scouts Can Code -->
<div class="our-community-area themeix-ptb">
    <div class="container">
        <p>Did you ever wonder how computers know what to do? This module is designed to help you
            explore how people instruct computers and how they affect your everyday life.
            Scouts will learn to about logic and alorithms and get hands-on experience coding a video game.
            This module can be completed in four (4) weeks.</p>
    </div>

    {% include cs_can_code_agenda.html %}

    <div class="container">
        <h1>Cub Scouts Can Code Plan According to Requirements</h1>
        <p>This module is designed to help you explore how computers affect your life each day. For the full
            requirements, see <a
                href="https://www.scouting.org/stem-nova-awards/awards/cub-scout/">Cub Scouts Can Code</a> on Scouting.org. 
                The following are the requirements addressed in this <strong>NovaStemLabs</strong> guide.</p>
        <h2>Week 1</h2>
        <ul>
            <li>Watch an episode or episodes (about one hour total) of a show that involves computers. Then do
                the following:
                <ol>
                    <li>Make a list of at least two questions or ideas from what you watched.</li>
                    <li>Discuss two of the questions or ideas with your counselor.</li>
                </ol>
            </li>
        </ul>
        <h2>Week 2</h2>
        <ul>
            <li>Be a programmer! With your parent’s permission and using proper internet safety, explore
                the world of coding using a tablet or computer. Make sure that your Cyber Chip is up to date.
                Complete ALL the requirements.
                <ol style="list-style-type: lower-alpha;">
                    <li>Spend at least one hour creating instructions for a computer to execute, then testing
                        and debugging them. There are many free applications for computers, tablets, and
                        smartphones.</li>
                    <li>Discuss with your counselor what you were able to create. Explain what you liked
                        best about it and what was difficult.</li>
                </ol>
            </li>
        </ul>
        <h2>Week 3</h2>
        <ul>
            <li>Complete ONE adventure from the following list for your current rank OR complete option A
                or B. (If you choose an Adventure, choose one you have not already earned.) Discuss with your
                counselor what kind of science, technology, engineering, and math was used in the adventure
                or option.
                <ol style="list-style-type: upper-alpha;">
                    <li>Wolf Cub Scouts: Code of the Wolf</li>
                    <li>Bear Cub Scouts: Robotics</li>
                    <li>Webelos Scouts: Game Design</li>
                </ol>
            </li>
        </ul>
        <h2>Week 4</h2>
        <ul>
            <li>Computer Science Unplugged!<br />
                Follow the Algorithm
                <ol style="list-style-type: upper-alpha;">
                    <li>With grid paper or a checkerboard, select one square as the start space and
                        another to be the finish space. Use a coin or other small object as the token
                        to move between these spaces.</li>
                    <li>Create flashcards with one direction on each card. For example: Move one
                        space up, Move one space down, Move one space right, Move one space
                        left, etc. You can use the cards multiple times or create copies of them.</li>
                    <li>Produce the series of instructions that move your token from start to finish on
                        the grid. Make sure that there are at least three steps involved. This is called
                        an algorithm. Write the steps down. Test your algorithm and have another
                        person try it as well. Can you find a different series of steps that move the
                        token between start and finish?</li>
                    <li>Move the start and finish spaces and create a new set of instructions for this
                        path. Test your algorithm and fix any errors.</li>
                    <li>Add a few “blackout” squares to the board, that cannot be used, then create a
                        new series of instructions to move without crossing any of them.</li>
                    <li>Research how computers use algorithms to work. Discuss what you learn
                        with your counselor.</li>
                </ol>
            </li>
            <li>Discuss with your counselor how science affects your everyday life.</li>
        </ul>
    </div>
</div>