---
layout: page
title: questions
sub_title: All Questions
navigation: false
---
{% include page_banner.html %}
<!-- Start Questions Area -->
<div class="question-area themeix-ptb">
    <div class="container">
        <div class="row">
            <!-- Start Question -->
            <div class="col-md-9">
                <div class="questions-wrapper">
                    <div class="dwqa-container">
                        <div class="dwqa-questions-archive">
                            <div class="dwqa-questions-list">
                                {% for topics in site.science %}
                                <div class="dwqa-question-item">
                                    <header class="dwqa-question-title">
                                        <a href="{{topics.url}}">{{topics.question}}</a>
                                    </header>
                                    <div class="dwqa-question-meta">
                                        <span class="dwqa-status dwqa-status-answered" title="answered">Answered</span>
                                        <span><strong>{{topics.author}}</strong> answered
                                            {{topics.date | date: '%B %d, %Y'}}</span>
                                        <span class="dwqa-question-category"> •
                                            <strong>{{topics.category_name}}</strong></span>
                                    </div>
                                </div>
                                {% endfor %}
                                {% for topics in site.technology %}
                                <div class="dwqa-question-item">
                                    <header class="dwqa-question-title">
                                        <a href="{{topics.url}}">{{topics.question}}</a>
                                    </header>
                                    <div class="dwqa-question-meta">
                                        <span class="dwqa-status dwqa-status-answered" title="answered">Answered</span>
                                        <span><strong>{{topics.author}}</strong> answered
                                            {{topics.date | date: '%B %d, %Y'}}</span>
                                        <span class="dwqa-question-category"> •
                                            <strong>{{topics.category_name}}</strong></span>
                                    </div>
                                </div>
                                {% endfor %}
                                {% for topics in site.engineering %}
                                <div class="dwqa-question-item">
                                    <header class="dwqa-question-title">
                                        <a href="{{topics.url}}">{{topics.question}}</a>
                                    </header>
                                    <div class="dwqa-question-meta">
                                        <span class="dwqa-status dwqa-status-answered" title="answered">Answered</span>
                                        <span><strong>{{topics.author}}</strong> answered
                                            {{topics.date | date: '%B %d, %Y'}}</span>
                                        <span class="dwqa-question-category"> •
                                            <strong>{{topics.category_name}}</strong></span>
                                    </div>
                                </div>
                                {% endfor %}
                                {% for topics in site.mathematics %}
                                <div class="dwqa-question-item">
                                    <header class="dwqa-question-title">
                                        <a href="{{topics.url}}">{{topics.question}}</a>
                                    </header>
                                    <div class="dwqa-question-meta">
                                        <span class="dwqa-status dwqa-status-resolved" title="resolved">Resolved</span>
                                        <span><strong>{{topics.author}}</strong> answered
                                            {{topics.date | date: '%B %d, %Y'}}</span>
                                        <span class="dwqa-question-category"> •
                                            <strong>{{topics.category_name}}</strong></span>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Question -->
            <!-- Start Blog Sidebar -->
            <div class="col-md-3">
                <div class="row">
                    <div class="blog-sidebar">
                        <div class="col-md-12 col-sm-6">
                            {% include popular_questions.html %}
                        </div>
                        <div class="col-md-12 col-sm-6">
                            {% include twitter_widgets.html%}
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Blog Sidebar -->
        </div>
    </div>
</div>
<!-- End  Questions Area -->

{% include call_to_action.html %}