---
title: science everywhere
layout: default
navigation: false
sub_title: Science
---

{% include page_banner.html %}

<!-- Start Science Everywhere -->
<div class="our-community-area themeix-ptb">
    <div class="container">
        <p>One of the best places to start on a Nova STEM journey is with the 'Science Everywhere' module. This module
            is designed to help you explore how science affects your life each day. Scouts will learn to see science as
            they look around, and they will learn the fundamentals of the scientific method. This module can be
            completed in four (4) weeks.</p>
    </div>

    {% include science_everywhere_agenda.html %}

    <div class="container">
        <h1>Science Everywehre Plan According to Requirements</h1>
        <p>This module is designed to help you explore how science affects your life each day. For the full
            requirements, see <a
                href="https://www.scouting.org/stem-nova-awards/awards/cub-scout/science-everywhere/">Science
                Everywhere</a> on Scouting.org. The following are the requirements addressed in this
            <strong>NovaStemLabs</strong> guide.
            <h2>Week 1</h2>
            <ul>
                <li>Watch an episode or episodes (about one hour total) of a show that involves science. Then do
                    the following:
                    <ol>
                        <li>Make a list of at least two questions or ideas from what you watched.</li>
                        <li>Discuss two of the questions or ideas with your counselor.</li>
                    </ol>
                </li>
            </ul>
            <h2>Week 2</h2>
            <ul>
                <li>Use the Scientific Method - Complete all of the following:
                    <ol style="list-style-type: lower-alpha;">
                        <li>Explain the scientific method to your adult partner.</li>
                        <li>Use the scientific method in a simple science project. Explain the results to an adult.</li>
                        <li>Talk to a scientist about why he or she became a scientist.</li>
                    </ol>
                </li>
            </ul>
            <h2>Week 3</h2>
            <ul>
                <li>Act like a scientist!
                    <ol style="list-style-type: upper-alpha;">
                        <li>With your counselor, choose a question you would like to investigate.</li>
                        <li>With your counselor, use the scientific method/process to investigate your question.
                            Keep records of your question, the information you found, how you investigated, and what you
                            found out about your question.<br />
                            You may do this with another Cub Scout if you would like, but you need to do and record
                            your own work.</li>
                        <li>Discuss your investigation and findings with your counselor.</li>
                    </ol>
                </li>
                <li>Watch an episode or episodes (about one hour total) of a show that involves science. Then do
                    the following:
                    <ol>
                        <li>Make a list of at least two questions or ideas from what you watched.</li>
                        <li>Discuss two of the questions or ideas with your counselor.</li>
                    </ol>
                </li>
            </ul>
            <h2>Week 4</h2>
            <ul>
                <li>Visit a place where science is being done, used, or explained.
                    <ol style="list-style-type: upper-alpha;">
                        <li>During your visit, talk to someone in charge about science.</li>
                        <li>Discuss with your counselor the science done, used, or explained at the place you
                            visited.</li>
                    </ol>
                </li>
                <li>Discuss with your counselor how science affects your everyday life.</li>
            </ul>
        </p>
    </div>
</div>
<!-- End Science Everywhere -->

{% include blog_posts.html %}
{% include call_to_action.html %}