---
title: Start a Nova STEM Program
layout: page
navigation: false
sub_title: Start a Nova STEM Program

---

{% include page_banner.html %}

<!-- Start a Nova Program -->
<div class="our-community-area themeix-ptb">
    <div class="container">
        <div>
            <h2>What Are the STEM Nova Awards?</h2>
            The Boy Scouts of America developed the STEM <i>Nova</i> awards program to excite and expand a sense of
            wonder in
            our Scouts. By working with an adult counselor or mentor, the various modules allow them to explore the
            basic principles of STEM and discover how fun and fascinating STEM can be. The <i>Supernova</i> awards are
            offered for those who enjoy a super challenge. Discover how the STEM Nova Awards program helps youth be
            “Prepared. For Life.”

        </div>
        <div>
            <h1>Is This for Me?</h1>
            Are you an Adult Leader interested in having more STEM (Science, Technology, Engineering, Math) activities
            in your Pack or Den? The Nova STEM Labs were created for you. Our goal is to make it easier for you to learn
            how to bring STEM into your unit and discover what kind of activities you can do in each area.
        </div>
        <div>
            <h2>What Are Nova STEM Labs?</h2>
            In Nova STEM Labs we break each Nova award down into a "Lab". A Lab is simply a defined journey for a Scout
            to go on that aligns to one of the BSA's Nova Award modules. Each Lab is designed to be completed in 4-weeks
            through a combination of Adult-led demonstrations, hands-on activities and at-home assignments. Each Lab
            will fullfil the requirements of the associated Nova Award module.
        </div>
        <div>
            <h2>OK, Now What?</h2>
            The easiest way to get a Nova STEM program going is to explain the Nova program at a unit meeting and gauge
            the interest level from the Scouts. The Nova Awards are designed to be achieved by Scout who show an
            interest in STEM activities - we don't recommend making it a requirment for all Scouts. The Nova STEM awards
            are definitely something the Scout should want to pursue.
        </div>
    </div>
</div>
<!-- End a Nova Program -->

{% include call_to_action.html %}